<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>图书管理系统</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet"
          href="/static/assets/materialize/css/materialize.min.css"
          media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="/static/assets/js/morris/morris-0.4.3.min.css"
          rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans'
          rel='stylesheet' type='text/css'/>
    <link rel="stylesheet"
          href="/static/assets/js/Lightweight-Chart/cssCharts.css">
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle waves-effect waves-dark"
                    data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href="index.html"><i
                    class="large material-icons">track_changes</i> <strong>target</strong></a>

            <div id="sideNav" href=""><i class="material-icons dp48">toc</i>
            </div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li><a class="dropdown-button waves-effect waves-dark" href="#!"
                   data-activates="dropdown2"><i
                    class="fa fa-envelope fa-fw"></i> <i
                    class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button waves-effect waves-dark" href="#!"
                   data-activates="dropdown1"><i class="fa fa-user fa-fw"></i>
                <b>请登录</b> <i
                        class="material-icons right">arrow_drop_down</i></a>
            </li>
        </ul>
    </nav>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Login</a>
        </li>
    </ul>
    <ul id="dropdown2" class="dropdown-content dropdown-tasks w250 taskList">
        <li>
            <a>
                <div>
                    <strong>John Doe</strong>
                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                </div>
                <p>Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s...</p>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <div>
                <strong>John Smith</strong>
                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
            </div>
            <p>Lorem Ipsum has been the industry's standard dummy text ever
                since an kwilnw...</p>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                </div>
                <p>Lorem Ipsum has been the industry's standard dummy text ever
                    since the...</p>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>Read All Messages</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="waves-effect waves-dark"
                       href="#"><i
                            class="fa fa-dashboard"></i> 错误页面
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="waves-effect waves-dark"><i
                            class="fa fa-qrcode"></i> 错误页面</a>
                </li>
                <li>
                    <a href="#"
                       class="waves-effect waves-dark"><i
                            class="fa fa-edit"></i> 错误页面 </a>
                </li>
                <li>
                    <a href="#"
                       class="waves-effect waves-dark"><i
                            class="fa fa-desktop"></i> 错误页面</a>
                </li>
                <li>
                    <a class="active-menu waves-effect waves-dark"
                       href="#"><i class="fa fa-fw fa-file"></i> 错误页面</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                抱歉！
                <small>请联系我</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Error</a></li>
            </ol>

        </div>
        <div id="page-inner">

            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-action">
                            联系QQ:617058979
                        </div>
                        <div class="card-content">
                            <p>
                                错误时间戳:[[${timestamp}]]<br><br>
                                错误状态码:[[${status}]]<br><br>
                                错误信息:[[${error}]]<br><br>
                                错误消息:[[${message}]]<br><br>
                                错误路径:[[${path}]]<br><br>
                            </p>
                            <div class="clearBoth"><br/></div>

                        </div>
                    </div>

                </div>
                <!-- /. PAGE INNER  -->
            </div>
            <!-- /. PAGE WRAPPER  -->
        </div>
    </div>
</div>
        <!-- /. WRAPPER  -->
        <!-- JS Scripts-->
        <!-- jQuery Js -->
        <!-- JS Scripts-->
        <!-- jQuery Js -->
        <script src="/static/assets/js/jquery-1.10.2.js"></script>

        <!-- Bootstrap Js -->
        <script src="/static/assets/js/bootstrap.min.js"></script>

        <script src="/static/assets/materialize/js/materialize.min.js"></script>

        <!-- Metis Menu Js -->
        <script src="/static/assets/js/jquery.metisMenu.js"></script>
        <!-- Morris Chart Js -->
        <script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
        <script src="/static/assets/js/morris/morris.js"></script>


        <script src="/static/assets/js/easypiechart.js"></script>
        <script src="/static/assets/js/easypiechart-data.js"></script>

        <script src="/static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

        <!-- Custom Js -->
        <script src="/static/assets/js/custom-scripts.js"></script>
</body>

</html>
